*{
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  background-color: #1c1e21;
}

nav{
  background-color: #24272b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  z-index: 999;
}

#search{
  top: 0.8rem;
  left: 3.3rem;  
}

.nav-left {
  background-color: #24272b;
}

.nav-left img{
  width: 40px;
  background-color: #24272b;
}

.nav-left input{
  font-size: 13px;
  background-color: rgb(68, 68, 68);
  border: none;
  padding: 5px 0;
  width: 180px;
  border-radius: 40px;
  padding-left: 15px;
  color: rgb(218, 218, 218);
  transition: 0.3s ease;
}

.nav-left input:focus{
  outline: none;
}

.nav-left input:focus::placeholder{
  padding-left: 0;
  transition: 0.3s ease;
}

.nav-left input::placeholder{
  padding-left: 10px;
  transition: 0.3s ease;
}

.nav-left i{
  position: absolute;
  background-color: rgb(68, 68, 68);
  font-size: 12px;
  color: gray;
  top: 1rem;
  left: 3.6rem;
}

.nav-center{
  background-color: #24272b;
  display: flex;
  align-items: center;
}

.nav-center:hover i{
  background-color: #4248507a;
  border: none;
  outline: none;
}

.nav-center a{
  font-size: 17px;
  color: #7c7c7c;
  padding: 5px 35px;
  border-radius: 10px;
  transition: 0.2s ease;
}

.nav-center a:hover{
  background-color: #4f566148;
}

.nav-center a:focus{
  color: #1368d6;
  border-bottom: 2px solid #1368d6;  
  border-radius: 2px;
}

.nav-right{
  background-color: #24272b;
  display: flex;
  align-items: center;
}

.nav-right a{
  padding: 4px 10px;
  border-radius: 50%;
  background-color: #4248507a;
  color: rgb(219, 219, 219);
  margin-right: 10px;
}

.nav-right a:hover{
  background-color: #d4d4d493;
}

.nav-right i:hover{
  background-color: #d4d4d493;
}

.nav-right img{
  width: 30px;
  border-radius: 20px;
  margin-right: 20px;
}

aside{
  position: fixed;
  height: 100%;
  left: 0;
  top: 3rem;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #24272b; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #24272b; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #24272b; 
}

.left-side{
  width: 250px;
  padding-top: 12px;
}

.me{
  width: 20px;
  border-radius: 11px;
  margin-right: 10px;
}

.left-side a{
  color: #dbdbdb;
  font-size: 12px;
  font-weight: 700;
}

.left-side a:hover{
  text-decoration: none;
}

.profile{
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin-right: 5px;
  padding:  6px 5px;
  padding-left: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}

.profile:hover{
  background-color: #55596171;
}

.profile img{
  width: 23px;
  margin-right: 7px;
}

.profile:hover{
  background-color: #55596171;
}


#arrow{
  font-size: 13px;
  margin-right: 10px;
  transition: 0.3s ease;
}

#more{
  display: none;
  transition: 0.3s ease;
}

.left-side hr {
  width: 90%;
  margin: auto;
  border-color: #7c7c7c;
}

.head p{
  color: #dbdbdb7a;
  font-size: 14px;
  font-weight: 600;
  padding-left: 10px;
  padding-top: 10px;
  margin: 0;
  margin-bottom: 5px;
}

header{
  background-color: #24272b;
  width: 400px;
  height: 100px;
  margin-top: 60px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.top{
  background-color: #24272b;
  padding-top: 10px;
}

.top img{
  width: 30px;
  border-radius: 15px;
  margin: 5px 10px;
}

#Post{
  background-color: #1368d6;
  color: white;
  font-size: 13px;
  font-weight: 600;
  border: none;
  padding: 5px 10px ;
  border-radius: 3px;
  margin-left: 10px;
  transition: 0.3s ease;
}

#Post:hover{
  opacity: 0.7;
}

#input{
  font-size: 13px;
  width: 300px;
  background-color: rgb(68, 68, 68);
  border: none;
  padding: 5px 10px;
  color: white;
  border-radius: 50px;
}

.top input:focus{
  outline: none;
}

header hr{
  margin: auto;
  width: 90%;
  margin-top: 5px;
  border-color: #7c7c7c;
}

.live-video{
 background-color: #24272b;
 padding-top: 10px;
 margin-left: 10px;
}

.live-video p{
  background-color: #24272b;
  margin: 0; 
  color:white;
  font-size: 12px;
  font-weight: 600;
  color: gray;
  margin-left: 5px;
}

.live-video i{
  color: rgb(255, 56, 56);
}

section{
  background-color: #24272b;
  width: 400px;
  height: 710px;
  border-radius: 5px;
  margin-bottom: 20px;
}

summary{
  background-color: #24272b;
  width: 400px;
  height: 350px;
  border-radius: 5px;
  margin-bottom: 20px;
}

section input{
  padding-bottom: 30px;
}

.head-post{
  background-color: #24272b;
  padding: 0 10px;
  padding-top: 15px;
  display: flex;

  justify-content: space-between;
  padding-right: 20px;
}

.head-post img{
  width: 30px;
  border-radius: 15px;
  background-color: #24272b;
}

.head-post a{
  position: relative;
  top: -5px;
  font-size: 14px;
  font-weight: 500;
}

.like{
  background-color: #24272b;
  padding: 5px 32px;
  cursor: pointer;
  color: #7c7c7c;
  border-radius: 2px;
  transition: 0.3s ease;
}

.like i{
  background-color: #24272b;
}

.like:hover{
  background-color: #4248507a;
}

.reactions{
  background-color: #24272b;
  display: flex;
  justify-content: space-around;
}

.like a{
  font-size: 13px;
}

.comments{
  background-color: #24272b;
  padding-top: 10px;
  display: flex;
}

.comments img{
  width: 20px;
  border-radius: 10px;
  margin-left: 20px;
}

.comment{
  width: 120px;
  height: 50px;
  background-color: rgb(68, 68, 68);
  border-radius: 5px;
  margin-left: 10px;
}

.comment p {
  background-color: rgb(68, 68, 68);
  margin: 0;
  color: white;
  font-size: 13px;
  text-align: center;
}

.comment a{
  font-size: 10px;
  color: white;
  font-weight: 600;
  padding-left:10px;
}

#input{
  font-size: 13px;
  background-color: rgb(68, 68, 68);
  border: none;
  padding: 5px 0;
  width: 340px;
  border-radius: 40px;
  padding-left: 15px;
  color: rgb(218, 218, 218);
  transition: 0.3s ease;
  margin-left: 10px;
}

#input:focus{
  outline: none;
}

article{
  height: 100%;
  position: fixed;
  padding-top: 10px;
  right: 0;
  top: 3rem;
  width: 250px;
}

.spons p{
  color: gray;
  font-size: 17px;
}

.right-top img{
  width: 80px;
  border-radius: 5px; 
  margin-left: 10px;
}

.right-top p{
  color: white;
  font-size: 13px;
  margin: 0;
  padding-left: 20px;
}

.right-top{
  display: flex;
  align-items: center;
  padding: 10px 0;
  cursor: pointer;
}

.right-bottom a{
  color: white;
  font-size: 13px;
  font-weight: 500;
}

.right-bottom a:hover{
  text-decoration: none;
}

.right-icons p{
  color: gray;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  margin-left: 15px;
}

.right-icons a{
  color: rgb(184, 184, 184);
  font-size: 16px;
  padding-right: 10px;
}

.right-icons{
  display: flex;
  justify-content: space-between;
  padding: 10px 0;

}

.div1{
  background-color: #24272b;
}

.a1{
  color: white;
}

.a1:hover{
  color: white;
  text-decoration: none;
}

.a2{
  font-size: 10px;
  color: #444950; 
  position: relative; 
  top: -20px; 
  left: 35px;
}

.a2:hover{
  text-decoration: none;
}

.div2{
  background-color: #24272b; 
  color: #444950;
}

.x{
  font-size: 20px; 
  font-weight: 600; 
  cursor: pointer;
  color: #444950;
}

.x:hover{
  text-decoration: none;
}

.p1{
  color: white; 
  background-color: #24272b; 
  text-align: center; 
  font-size: 40px;
}

.div3{
  padding-top: 10px; 
  background-color: #24272b;
}

.div4{
  background-color: #24272b;
  display: flex; 
  flex-direction: row; 
  align-items: center; 
  justify-content: space-around;
}


@media only screen and (max-width: 878px){
 .nav-left input{
  width: 25px;
  border-radius: 50px;

  padding: 5px 15px;
 }
 #search{
  top: 0.8rem;
  left: 3.2rem;
  font-size: 15px;
 }
}

@media only screen and (max-width: 724px){
  .nav-center{
    display: none;
  }
  .nav-left input{
    width: 180px;
  }
}

@media only screen and (max-width: 473px){
  .nav-left input{
    width: 25px;
}
}

@media only screen and (max-width: 940px){
  aside , article{
    display: none;
  }
}